<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header">
  <meta charset="utf-8">
  <title>What-To-Eat</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&amp;family=Nunito:wght@600;700;800&amp;family=Pacifico&amp;display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/owl.carousel.min.css" rel="stylesheet">
  <link href="/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container-xl bg-white p-0">
  <!-- Spinner Start -->
  <div id="spinner" class="bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Hero Start -->
  <div class="container-xl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0" th:fragment="navbar">
      <a class="navbar-brand" href="#" style="font-size: 50px">WhatTo<span class="text-warning">Eat<i class="fa fa-cutlery"></i></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
          <a href="/home" class="nav-item nav-link active">Home</a>
          <a href="/about" class="nav-item nav-link">About</a>
          <a href="/wiki" class="nav-item nav-link">Wiki</a>
          <a href="/restaurant" class="nav-item nav-link">Restaurant</a>
        </div>
      </div>
      <form action="/logout">
        <button class="btn btn-danger logout" style="margin-bottom: 0">Log out <i class="fa fa-sign-out"></i></button>
      </form>
      <div class="avatar-group">
        <div class="avatar">
          <span class="avatar-name" th:text="Hello + ' ' + ${user.username}"></span>
          <img src="https://t3.ftcdn.net/jpg/05/16/27/58/240_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg" alt="Image">
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar & Hero End -->
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
  </div>
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="row g-3">
            <div class="col-6 text-start">
              <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="/img/about-1.jpg" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
            </div>
            <div class="col-6 text-start">
              <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="/img/about-2.jpg" style="margin-top: 25%; visibility: hidden; animation-delay: 0.3s; animation-name: none;">
            </div>
            <div class="col-6 text-end">
              <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="/img/about-3.jpg" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
            </div>
            <div class="col-6 text-end">
              <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="/img/about-4.jpg" style="visibility: hidden; animation-delay: 0.7s; animation-name: none;">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
          <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>WhatToEat</h1>
          <p class="mb-4">Come and explore our huge sources of food wiki and restaurants waiting for your to explore</p>
          <div class="row g-4 mb-4">
            <div class="col-sm-6">
              <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up" th:text="${restaurantCount}"></h1>
                <div class="ps-4">
                  <p class="mb-0">Location of</p>
                  <h6 class="text-uppercase mb-0">Restaurants</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up" th:text="${foodCount}"></h1>
                <div class="ps-4">
                  <p class="mb-0">Available</p>
                  <h6 class="text-uppercase mb-0">Wiki Posts</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <div th:replace="/home :: footer">
  </div>


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/easing.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/counterup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/moment-timezone.min.js"></script>
<script src="/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://kit.fontawesome.com/1826a6c621.js" crossorigin="anonymous"></script>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>

</body></html>
